:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #f4f7f6;
    --text-color: #2c3e50;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --danger-color: #e74c3c;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    background-color: var(--background-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 400px;
    margin: 80px auto;
    padding: 30px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.auth-card{
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

input {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
}

.dashboard-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    margin-bottom: 20px;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px)
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.income h4 { color: #2ecc71; }
.expenses h4 { color: #e74c3c; }
.debts h4 { color: #f39c12; }

.btn-primary {
    background-color: #3498db;
    border: none;
    padding: 12px 25px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}